/* === FOOTER === */



.container-footer {
  display: grid;
/* grid-template-areas: ; */
  color: white;
}

.fa-instagram{
  color: $septenary-color;
}

.fa-facebook-square {
  color: $septenary-color;
}

.socials {
  font-size: 2em;
  text-align: center;
}

#footer {
  padding: 5em;
  background-color: $tertiary-color;
} 


#footer-text{
  text-align: center;
  color: white;
}

.address {
  float: left;
  display: inline-block;
  text-align: justify;
  max-width: 110px;
  color: white;
  margin: 0;

}

.address a {
  color: white;
}