/* === FOOTER === */

#footer {
  padding: 5em;
  background-color: $tertiary-color;
} p {
  text-align: center;
}

.fa-instagram{
  color: white;
}

.fa-facebook-square {
  color: white;
}

.socials {
  float: right;
  font-size: 2em;
}