/* ==== HEADER ==== */

.parallax-header { 

  background-image: url(../img/kangheader.jpg);
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#headerlogo {
  position: absolute;
  width: 95vw;
  top: 40vh;
  transform: translateY(-62%);
  -webkit-filter: drop-shadow(-10px -10px 10px 
  $quaternary-color);
  filter: drop-shadow(-10px -10px 10px 
  $quaternary-color);
  max-width: 100vw;
}

header p {
  position: absolute;
  font-size: 1em;
  color: $septenary-color;
  width: 100vw;
  top: 50vh;
  text-align: center;
  transform: translateY(-70%);
  font-family: $font-pile;
  font-style: italic;
  text-shadow: 0.5px 0.5px 0px $quaternary-color;
}
@media screen and (min-width: 450px) {


  header p {
    font-size: 1em;
     width: 95vw;
  }
}


@media screen and (min-width: 300px) {
   #headerlogo {
    width: 50vw;
    top: 30vh;
    transform: translateX(40%);
    }
  header p {
    font-size: 1em;
  }
}

@media screen and (min-width: 500px) {
  #headerlogo {
    width: 50vw;
    top: 20vh;
    transform: translateX(40%);
    }

  header p {
    font-size: 1.1em;
  }
}


@media screen and (min-width: 800px) {

  #headerlogo {
  width: 43vw;
  top: 10vh;
  transform: translateX(40%);
  }
  header p {
    font-size: 1.5em;
  }
}

