/* ==== HEADER ==== */

.parallax-header { 

  background-image: url(../img/kangheader.jpg);
  height: 70vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#headerlogo {
  position: absolute;
  width: 100vw;
  top: 50vh;
  text-align: center;
  transform: translateY(-70%);
  -webkit-filter: drop-shadow(-10px -10px 10px $quaternary-color);
}

@media screen and (min-width: 500px) {

  #headerlogo {
  width: 70vw;
  }
}



