/* === MAIN === */

main {
  section {
    padding: 0.5em 1em;
  } #about {
    // background-image: url(../img/about-us-background.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    color: white;
    text-shadow: 1px 1px 1px $quaternary-color;
  }
}

#menu {
  background-color: $quinary-color;
  color: white;
  padding-bottom: 5em;
} 






.menuwrapper {
  margin: 0% 15% 0% 15%;
}

.collapsible {
  background-color: $quinary-color;
  color: black;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
}

.itemdescription {
  max-width: 500px;
  font-size: 12px;
  font-family: 'Bree Serif', serif;
  transform: translateY(-0.6em);
}

.active, .collapsible:hover {
  background-color: #730003;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: $quinary-color;
  list-style: none;
  font-size: 15px;
  font-family: 'Bree Serif', serif;
  color: black;
} 

ul.content {
  padding: 0;
  overflow-x: hidden;
  list-style: none
}

ul.content li:before {
  float: left;
  width: 0;
  white-space: nowrap;
  content:
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
". . . . . . . . . . . . . . . . . . . . "
}

ul.content span:first-child {
  padding-right: 0.33em;
  background-color: $quinary-color;
}

ul.content span + span {
  float: right;
  padding-left: 0.33em;
  background-color: $quinary-color;
}


#about {

  // background-image: url(../img/about-us-background.jpg);
  // background-size: cover;
  // background-repeat: no-repeat;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.parallax-about {
  background-image: url(../img/about-us-background.jpg);
  height: 50vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
 }

 #about-div p {
   text-align: justify;
   
 }

#find {
  background-color: $quinary-color;
  padding-bottom: 3em;
  color: white;
  text-shadow: 1px 1px 1px $quaternary-color;
  text-align: center;
}

#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */

 }





@media screen and (min-width: 600px) {

  .menu-max-column {
    max-width: 800px;
    margin: auto;
    width: 71%;
  }
} 


