/* ==== MODAL ====*/
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0;
    width: 50%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 3em;
    right: 0;
    background-color: #fefefe;
    width: 50vw;
    max-width: 250px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
    
}

/* The minimize Button */
.minimize {
    color: $senary-color;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0.1em;
    text-align: center;
    background-color: $primary-color;
    color: white;
}

.modal-body {
  padding: 1em;
  background-color: $quinary-color; 
  color: white;
}

.modal-footer {
    padding: 0.1em;
    background-color: $quinary-color;
    color: white;
}

#myBtn {
    position: fixed;
    float: right;
    right:0;
    bottom: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: #2f2f2f;
    color: white;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}



@media screen and (min-width: 700px) {

    #myBtn {
        font-size: 1.5em;
    }

  }
  
