/* ==== MODAL ====*/
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    right: 0em;
    width: 50%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;

}



/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 3em;
    right: 0em;
    background-color: #fefefe;
    width: 55vw;
    max-width: 300px;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
    border-style: solid;
    border-width: 3px;
    border-radius: 7px
    
}

/* The minimize Button */
.minimize {
    color: $senary-color;
    float: right;
    font-size: 2em;
    font-weight: bold;
}

.minimize:hover,
.minimize:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0.1em;
    text-align: center;
    background-color: $primary-color;
    color: $septenary-color;
}

.modal-body {
  padding: 1em;
  background-color: $septenary-color; 
  color: $quaternary-color;
  border-style: solid;
  border-width: 1px;
}

.modal-footer {
    padding: 0.1em;
    background-color: $septenary-color;
    color: black;
}

.modal-footer a {
    text-decoration: none;
    color: black;
}

#myBtn {
    position: fixed;
    float: right;
    right: 1em;
    bottom: 1em;
    font-size: 1em;
    border-radius: 0.5em;
    background-color: #2f2f2f;
    color: white;
    border: #000;
}


/* Add Animation */

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}



@media screen and (min-width: 700px) {

    #myBtn {
        font-size: 1.5em;
    }

  }
  
