/* ==== NAVBAR ====*/

nav {
  background-color: $quaternary-color;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline;
      a {
        display: inline-block;
        padding: 1em;
        color: $septenary-color;
        // text-shadow: 0.5px 0.5px 0px $senary-color;
        text-decoration: none;
        display: none;
      } & :hover {
        background-color: $primary-color;
        font-weight: bold;
      }
    }
  }
}




.dont-hide {
  display: inline-block !important;
}



#menu-icon {
  float: right;
  top: 0;
  display: block;
  right:0;
  position: absolute;
  font-size: 0.8em;
  
}

.topnav.dropped ul li a {
  display: block;
  
}

.topnav.dropped #menu-icon {
  position:absolute;
  right:0;
  top:0;
  
}



@media screen and (min-width: 600px) {

  #menu-icon {
      display: none;
  }

  .topnav ul li a {
    display: inline-block;
  }
 
 
 .topnav ul {
  display: flex;
  justify-content: space-between;
 }

}