@import url('https://fonts.googleapis.com/css?family=Bree+Serif');

$primary-color: #730003;
$secondary-color: #b98e1d;
$tertiary-color: #2f2f2f;
$quaternary-color: #000000;
$quinary-color: #c6bd9e;
$senary-color: #e5e5e5;
$septenary-color: #ffffff;

$font-stack: 'Bree Serif', serif, sans-serif;